.task{
    width: 100%;
    height: 100vh;
    background-color: #ddb6c6;
    margin:0;
    .nav-task{
        height: 50px;
        width: 100%;    
        background-color: #333;
        position: fixed;
        top: 0;

        .nav-board-c1{
            width: 30%;
            height: 50px;
            float: left;
            .btn-home{
                background-color: transparent;
                outline: none;
                border: none;
                font-size: 14px;
                .fas {
                    color: white;
                    vertical-align: center;
                    padding: 5px;
                    margin: 4px;
                    border-radius: 8px;
                    transition: background-color 0.25s ease;
                    &:hover {
                        background-color: #105e62;
                        color: #c7f0db;
                    }
                }
            }
        }
        .nav-board-c2{
            width: 40%;
            height: 50px;
            float: left;
            
            .nav-board-title{
                width: 60%;
                margin: auto;
                .nav-h5-btitle{
                    height: 35px;
                    margin: 0;
                    padding: 7.5px 0;
                    text-align: center;
                    font-size: 1.75em;
                    color: #8bbabb;
                    font-family: montserrat;
                    font-weight: 600;
                    transition: all 0.3s ease;
                    &:hover {
                        color: #c7f0db;
                        cursor: pointer;
                    }
                }
            }
        }
        .nav-board-c3 {
            width: 30%;
            height: 50px;
            float: left;
            .btn-lgout {
                float: right;
                padding: 7px 15px;
                margin: 7.5px 10px;
                border: 1.5px solid whitesmoke;
                background-color: transparent;
                border-radius: 8px;
                color: white;
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 13px;
                transition: all .4s ease-in-out;
                font-family: montserrat;
                &:hover {
                    background-color: #105e62;
                    color: #c7f0db;
                    border: 1.5px solid #c7f0db;
                }
    
                &:focus{
                    outline: none;
                }
    
            }

            .custom-drd-noti{
                height: 50px;
                width: 50px;
                float: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .dropdown-menu-right{
                    .dropdown-header{
                        text-align: center;
                        letter-spacing: 0.05rem;
                        font-family: montserrat;
                    }
                }
                
                .btn{
                    //float: right;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3px;
                    margin-right: 6px;
                }
                .btn-primary{
                    background-color: transparent;
                    border: none;
                }
                .dropdown-toggle:after{
                    border: none;
                    display: none;
                }
            }
            .custom-drd-btn{
                height: 50px;
                width: 50px;
                float: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .dropdown-menu-right{
                    .dropdown-header{
                        text-align: center;
                        letter-spacing: 0.05rem;
                        font-family: montserrat;
                    }
                }
                
                .btn{
                    //float: right;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3px;
                    margin-right: 6px;
                }
                .btn-primary{
                    background-color: transparent;
                    border: none;
                }
                .dropdown-toggle:after{
                    border: none;
                    display: none;
                }
            }

        
        }
    }

    .nav-area{
        width: 100%;
        height: 100vh;
        padding: 50px;
        .name-board{
            margin-top: 20px;
            margin-left: 20px;
            font-family: montserrat;
            font-size: 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            .btn-edit-title{
                border: none;
                //background-color: transparent;
                margin: 0 15px;
                
                background-color: #cf455c;
                    
                transition: all 0.4s ease-in-out;
               border-radius: 5px;
                &:hover{
                    background-color: #42b883;
                    border-radius: 50%;
                    .far{
                        color: #ffdd67;
                    }
                }
                &:active{
                    background-color: #42b883;
                    border-radius: 50%;
                    .far{
                        color: #ffdd67;
                    }
                }
                &:focus{
                    outline: none;
                }
                .far{
                    color: #fdef96;
                    animation: spin 10s linear infinite;
                }
            }
        }

        .task-list{
            width: 100%;
            height: 80vh;
            margin-top: 10px;
            display: flex;
            
            overflow-y: hidden;
            overflow-x: auto;
            
            &::-webkit-scrollbar{
                height: 8px;
                border-radius: 20px;
                background-color: #f5f5f5;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #385170;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
                border-radius: 20px;
            }


            .add-list{
                //background-color: #e5e5e5;
                width: 20vw;
                flex-shrink: 0;
                flex-grow: 0;
                flex-basis: 250px;
                padding: 0 0 5px 0;
                border-radius: 5px;
                .form-add-list{
                    background-color: #e5e5e5;
                    border-radius: 5px;
                    padding-bottom: 5px;
                }
                .list-name-input{
                    width: 96%;
                    background-color: whitesmoke;
                    border: 2px solid #385170;
                    padding: 10px 20px 10px 5px;
                    margin: 5px;
                    border-radius: 3px;
                    font-family: montserrat;
                    letter-spacing: 0.1em;
                    font-size: 14px;
                }

                .list-submit{
                    background-color: #01d28e;
                    border: none;
                    padding: 10px 20px;
                    margin: 0 5px;
                    border-radius: 3px;
                    font-family: montserrat;
                    font-weight: 600;
                    transition: all .25s ease;
                    font-size: 15   px;
                    &:hover {
                        background-color: #58b368;
                        color: whitesmoke;
                    }
                }
            }

            .list-container{
                width: 20vw;
                flex-shrink: 0;
                flex-grow: 0;
                flex-basis: 250px;
                
                border-radius: 5px;
                margin-right: 10px;
                max-height: 75vh;

                .list-wrap{
                    background-color: #e5e5e5;
                    width: 100%;
                    float: left;
                    
                    border-radius: 5px;
                    margin-right: 10px;
                    
                    .list-name{
                        padding: 10px 5px 10px 10px;
                        color: #333;
                        font-family: montserrat;
                        font-size: 15px;
                        font-weight: 600;
                        .btn-remove-list{
                            background-color: transparent;
                            border: none;
                            float: right;
                            padding: 3px;
                            border-radius: 3px;
                            &:hover{
                                background-color: #d2fafb;
                            }
                        }
                    }
                    .list-task-container{
                        overflow: auto;
                        max-height: 58vh;
                        &::-webkit-scrollbar{
                            width: 6px;
                            border-radius: 20px;
                            background-color: #f5f5f5;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: #385170;
                            border-radius: 20px;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
                            background-color: #F5F5F5;
                            border-radius: 20px;
                        }
                        .list-task{
                            display: flex;
                            border-radius: 4px;
                            box-shadow: 0px 0.7px 1px rgb(180, 173, 173);
                            margin: auto;
                            margin-bottom: 8px;
                            width: 95%;
                            padding: 10px 5px;   
                            background-color: white;
                            font-size: 13px;
                            font-family: montserrat;
                            word-break: break-all;
                            &:hover{
                                background-color: #d2fafb;
                                cursor: pointer;
                            }
                            .task-content{
                                font-size: 13px;
                                width: 90%;
                                
                                margin: 0;
                            }

                            .btn-change-task{
                                border: none;
                                border-radius: 3px;
                                padding: 3px auto;
                                background-color: transparent;
                                .fas{
                                    color: #8395a7;
                                }
                                &:hover{
                                    background-color: #8bbabb;
                                    .fas{
                                        color: #333;
                                    }
                                }
                                &:focus{
                                    outline: none;
                                } 
                                &:active:focus{
                                    outline: none;
                                    border-radius: 5px;
                                }
                            }

                            .btn-remove-task{
                                
                                border: none;
                                border-radius: 2px;
                                padding: 3px auto;
                                background-color: transparent;
                                .fas{
                                    color: #8395a7;
                                }
                                &:hover{
                                    background-color: #8bbabb;
                                    .fas{
                                        color: #333;
                                    }
                                }
                                &:focus{
                                    outline: none;
                                } 
                                &:active:focus{
                                    outline: none;
                                    border-radius: 4px;
                                }

                
                            }
                            
                        }
                    }
                    .btn-add-task{
                        padding: 5px;
                        .add-task-input{
                            border-radius: 4px;
                            box-shadow: 0px 0.7px 1px rgb(180, 173, 173);
                            margin: auto;
                            width: 100%;
                            padding: 5px;   
                            background-color: white;
                            font-size: 13px;
                            font-family: montserrat;
                            word-break: break-all;
                            word-wrap: break-word;
                            border: none;
                            height: 6vh;
                        }

                        .task-input-submit{
                            background-color: #01d28e;
                            border: none;
                            padding: 10px 20px;
                            margin-top: 5px;
                            border-radius: 3px;
                            font-family: montserrat;
                            font-weight: 600;
                            transition: all .25s ease;
                            font-size: 15px;
                            &:hover {
                                background-color: #58b368;
                                color: whitesmoke;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes spin {
    0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}