.boards {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: white;
    .nav-board {
        height: 50px;
        width: 100%;    
        background-color: #333;
        position: fixed;
        top: 0;

        .nav-board-c1{
            width: 30%;
            height: 50px;
            float: left;
            .btn-home{
                background-color: transparent;
                outline: none;
                border: none;
                font-size: 14px;
                .fas {
                    color: white;
                    vertical-align: center;
                    padding: 5px;
                    margin: 4px;
                    border-radius: 8px;
                    transition: background-color 0.25s ease;
                    &:hover {
                        background-color: #105e62;
                        color: #c7f0db;
                    }
                }
            }
        }
        .nav-board-c2{
            width: 40%;
            height: 50px;
            float: left;
            
            .nav-board-title{
                width: 60%;
                margin: auto;
                .nav-h5-btitle{
                    height: 35px;
                    margin: 0;
                    padding: 7.5px 0;
                    text-align: center;
                    font-size: 1.75em;
                    color: #8bbabb;
                    font-family: montserrat;
                    font-weight: 600;
                    transition: all 0.3s ease;
                    &:hover {
                        color: #c7f0db;
                        cursor: pointer;
                    }
                }
            }
        }
        .nav-board-c3 {
            width: 30%;
            height: 50px;
            float: left;
            .btn-lgout {
                float: right;
                padding: 7px 15px;
                margin: 7.5px 10px;
                border: 1.5px solid whitesmoke;
                background-color: transparent;
                border-radius: 8px;
                color: white;
                letter-spacing: 1px;
                font-weight: 600;
                transition: all .4s ease-in-out;
                font-family: montserrat;
                font-size: 13px;
                &:hover {
                    background-color: #105e62;
                    color: #c7f0db;
                    border: 1.5px solid #c7f0db;
                }
    
                &:focus{
                    outline: none;
                }
    
            }
        }
    }

    .body-board{
        height: 100vh;
        width: 100%;
        padding: 50px;
        .wel-title{
            width: 80%;
            margin: 30px auto;
            font-family: montserrat;
            font-style: italic;

        }

        .bboard-area{
            width: 85%;
            margin: auto;
            height: 70vh;
            .b-nav-vertical{
                width: 30%;
                float: left;
                //background-color: #233;
                height: 70vh;
                padding: 10px;
                .b-btn-boards{
                    width: 100%;
                    padding: 10px 0;
                    //border: 1px solid black;
                    background-color: whitesmoke;
                    border-radius: 10px;
                    transition: 0.25s ease; 
                    .a-boards{
                        text-align: left;
                        font-weight: 600;   
                        width: 80%;
                        margin-left: 10px;
                        text-decoration: none;
                        
                        padding: 10px 0;
                        border-radius: 10px;
                        overflow: hidden;
                        .far {
                            margin: 0 10px;
                        }

                        &:focus{
                            outline: none;
                        }
                    }

                    &:hover {
                        background-color: #d2fafb;
                    }
                }
                    
                    
                
            }

            .b-list-hor{
                width: 70%;
                float: left;
                //background-color: #233;
                height: 70vh;
                padding: 10px;
                .bl-title{
                    margin: 0 40px 10px 40px;
                    font-size: 24px;
                    font-family: montserrat;
                    letter-spacing: 1px;
                }
                .boards-section-list{
                    list-style-type: none;
                    height: 60vh;
                    overflow: auto;
                    &::-webkit-scrollbar{
                        width: 6px;
                        background-color: #f5f5f5;
                        border-radius: 20px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #385170;
                        border-radius: 20px;
                    }
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
                        background-color: #F5F5F5;
                        border-radius: 20px;
                    }
                    .boards-detail-section-list{
                        float: left;
                        overflow: hidden;
                        width: 23%;
                        height: 14vh;
                        background-color: #76dbd1;
                        border-radius: 5px;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        padding: 5px 2px 5px 5px;
                        display: flex;
                        &:hover{
                            background-color: #6bc5d2;
                            cursor: pointer;
                        }

                        
                        .btn-board-area{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .btn-edit-board{
                                border: none;
                                background-color: transparent;
                                border-radius: 50%;
                                float: right;
                                z-index: 999;
                                
                                transition: all .4s ease;
                                &:hover{
                                    background-color: #1089ff;
                                    border-radius: 50%;
                                    .fas{
                                        color: whitesmoke;
                                    }
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                            .btn-remove-board{
                                border: none;
                                background-color: transparent;
                                border-radius: 50%;
                                float: right;
                                z-index: 999;
                                
                                transition: all .4s ease;
                                &:hover{
                                    background-color: #ff5858;
                                    border-radius: 50%;
                                    .fas {
                                        color: whitesmoke;
                                    }
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                        
                        .text-contain{
                            width: 80%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            h5{
                                width: 100%;
                                font-size: 20px;
                                margin: 0 0 0 0;
                                text-align: center;
                                font-family: montserrat;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #333;
 
                            }
                            p{
                                text-align: center;
                                margin: 0;
                                font-size: 12px;
                                font-family: montserrat;
                            }
                        }
                        .btn-create-boards{
                            height: 14vh;
                            .btn-cboard{
                                height: 14vh;
                                width: 100%;
                                background-color: transparent;
                                text-align: center;
                                border: none;
                                font-family: montserrat;
                                font-size: 14px;
                                cursor: pointer;
                                &:focus{
                                    outline: none;
                                }
                                &:hover{
                                    background-color: #6bc5d2;
                                }
                            }

                            
                        }
                    }
                }
            }
        }
    }
}