

.nav-home {
    top: 0;
    position: fixed;
    z-index: 1063;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    background-color: #202040;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    

    .logo {
        float: left;
        margin: 20px 0 0 20px;
        padding: 15px 10px;
        width: 140px;
        height: 50px;
        background-color: #202060;
        background-image: linear-gradient(90deg, #202060, #202040);
        color: white;
        font-size: 30px;
        border-left: 2px solid whitesmoke;
    }

    .sign-up{ 
        margin: 20px 0;
        padding: 15px 10px;
        width: 140px;
        height: 60px;
        border-radius: 5%;
        text-align: center;
        font-size: 18px;
    }

    .log-in{
        margin: 20px 20px 20px 0px;
        padding: 15px 10px;
        width: 140px;
        height: 60px;
        border: 1.2px solid white;
        border-radius: 25px;
        text-align: center;
        font-size: 18px;
        transition: background-color .4s ease-in-out;
        &:hover {
            .login-link {
                color: #202040;
            }
            background-color: whitesmoke;
            
        }
    }

    .dec {
        display: block;
        float: right;

        .login-link, .signup-link{
            text-decoration: none;
            color: white;
            letter-spacing: 1.5px;
        }
        
        .signup-link{
            &:hover{
                color: #64c4ed;
            }
        }
    }
}

#session-1{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #202040;
    
    z-index: 1;

    .container{
        
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 150px 5px 50px 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 600px;
        
        .text-intro{
            
            padding-left: 50px;
            width: 50%;
            //height: 400px;
            //background-color: darkcyan;
            
            
            .title{
               
                color: whitesmoke;
                text-align: left;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                letter-spacing: 1px;
            }

            .hp-text{
                
                color: whitesmoke;
                text-align: left;
                font-size: 16px;
                line-height: 1.75em;
                letter-spacing: 1px;
                
            }
            .btn-signup{
                
                margin-top: 30px;
                width: 250px;
                padding: 12px 10px;
                border-radius: 5px;
                background-color: #3e64ff;
                text-align: center;
                font-weight: 600;
                .btn-text{
                   
                    color: white;
                    text-decoration: none;
                }

                &:hover{
                    box-shadow: 1px 2px 4px #111;
                }
                

            }
            @media screen  and (max-width: 1014px){
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: 50%;
            //height: 400px;
            //background-color: darkcyan;
            .hp-image{
                padding-top: 20px;
                width: 400px;
                
                @media screen  and (max-width: 1014px){
                    display: none;
                    
                }
            }

            @media screen  and (max-width: 1014px){
                width: 0px;
                
            }
        }
    }
}

#session-2{
    width: 100%;
    height: 600px;
    background-color: whitesmoke;
    position: relative;
    z-index: 1;

    .s2-c2-title{
        padding: 50px 0px;
        text-align: center;
        .t2-feature{
            margin: 0;
            color: #696464;
        }
    }

    .s2-c2-body{
        position: relative;
        padding: 150px 0px;
        text-align: center;
        .t2-body{
            margin: 0;
            color: #4f81c7;
            font-size: 60px;
            animation: yell 4s ease-in-out infinite;
        }
        .move {
            position: absolute;
            border-radius: 50%;
        }

        .yell{
            background-color: #f6f078;
            height: 30px;
            width: 30px;
            left: 22%;
            animation: yell 4.5s ease-in-out infinite;
        }

        .red{
            background-color: #c93838;
            height: 20px;
            width: 20px;
            left: 62%;
            animation: yell 3.5s ease-in-out infinite;
        }

        .orange{
            background-color: #ff7e67;
            height: 45px;
            width: 45px;
            top: 35%;
            left: 32%;
            z-index: -1;
            animation: yell 6.5s ease-in-out infinite;
        }

        .green{
            background-color: #42b883;
            height: 22px;
            width: 22px;
            top: 15%;
            left: 42%;
            animation: yell 2.9s ease-in-out infinite;
        }

        .g1{
            background-color: #49beb7;
            height: 70px;
            width: 70px;
            top: 28%;
            left: 72%;
            z-index: -1;
            animation: yell 10s ease-in-out infinite;
        }

        .g2{
            background-color: #e8647c;
            height: 10px;
            width: 10px;
            top: 15%;
            left: 12%;
            animation: yell 2.9s ease-in-out infinite;
        }

        .g3 {
            background-color: #602080;
            height: 22px;
            width: 22px;
            top: 75%;
            left: 42%;
            animation: yell 2.9s ease-in-out infinite;
        }
    }
}   
#session-3{
    width: 100%;
    height: 900px;
    background-color: #3e64ff;
    position: relative;
    z-index: 1;

    .s3-c3-title{
        padding: 50px 0px;
        text-align: center;
        .t3-feature{
            margin: 0;
            color: #f6f6f6;
        }
    }

    .img-s3{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

        .todo-img-demo{
            background-color: #e5e5e5;
            padding: 5px 0;
            border-radius: 5px;
        }
    }
}   

#ft{
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: black;
    z-index: 1000;
    text-align: center;
    

    .comp{
        color: red;

    }

    .copyright{
        color: whitesmoke;
    }

    .ft-nav{
        list-style-type: none;
        color: whitesmoke;
        overflow: hidden;
        padding: 0px 40px;
        width: 450px; 
        margin: 0 auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        .fts{
            float: left;
            text-align: center;
            padding: 40px 40px 20px 40px;
            justify-content: center;
            .ft-a{
                text-decoration: none;
                color: white;
                
            }
            &:hover{
                .ft-a{
                    color: #366ed8;
                }
            }
        }
    }

}

@keyframes yell{
    0% {
        transform: translateY(0)
    }
    50%{
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}