.fpw-container{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

    .fpw-header{
        height: 100px;
    }
    .fpw-area{
        width: 50%;
        margin:auto;
        text-align: center;
        padding: 100px 0;
        .fpw-title{
            font-size: 32px;
            color: black;
            font-family: montserrat;
        }
        .fpw-noti{
            font-style: italic;
            font-family: montserrat;    
        }
        .fpw-email{
            .fpw-in-email{
                background-color: transparent;
                border: none;
                width: 50%;
                border-bottom: 1.5px solid #333;
                padding: 15px 5px 10px 5px;
                font-family: montserrat;
                font-size: 16px;    
                &:focus{
                    outline: none;
                }
            }
        }
        .noti-email-success{
            .email-success{
                font-family: montserrat;
                color: green;
            }
            .email-fail{
                font-family: montserrat;
                color: red;
                animation-name: shake;
                animation-duration: 0.7s;
                animation-iteration-count: 1;
            }
        }

        .fpw-submit{
            margin: 30px 0;
            padding: 15px 40px;
            background-color: transparent;
            border-radius: 25px;
            border: 1.5px solid #01d28e;
            color: #01d28e;
            font-size: 16px;
            font-weight: 600;
            font-family: montserrat;
            transition: background-color 0.25s ease-in-out;
            &:focus{
                outline:none;
            }
            &:active, &:active:focus {
                background-color: #47e4bb;
                border: 3px solid lightgreen;                
            }
            &:hover{
                border: none;
                background-color: #01d28e;
                color: white;
            }
            
        }
    }
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
        transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-8px);
    }
}