

.login-form{
    margin: auto;
    width: 60%;
    //background-color: green;
    height: 50px;
    text-align: center;
    padding: 22vh 0px;

    .login-title{
        font-size: 26px;
        letter-spacing: 1px;
        font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .noti-su-text{
        padding-top: 20px;

        .noti-si-failed{
            margin: 0;
            color: red;
            font-size: 13px;
            letter-spacing: 1px;
            font-style: italic;
            animation-name: shake, glow-red;
            animation-duration: 0.7s, 0.35s;
            animation-iteration-count: 1, 2;
        }
    }
    .lp {
        padding: 10px 0px;
        
        .in {
           margin: 0px 10px;
           
           border: none;
           border-bottom: 1.5px solid #200f21;
           padding: 10px 20px 10px 0px;
           &:focus {
                outline: none;
           }
        }
    }

    .submit {
        margin: 30px 0px;
        border: none;
        background-color: #202040;
        opacity: 0.8;
        color: white;
        padding: 15px 40px;
        letter-spacing: 2px;
        border-radius: 25px;
        font-weight: 500;
        transition: background-color 2s ease;
        
        &:hover {
            background-color: green;
            box-shadow: 1px 2px 4px #111;
        }
        &:active {
            outline: none;
        }
    }

    .fg-pw{
        letter-spacing: 1px;
        .fg-pw-link{
            text-decoration: none;
            color: black;
            transition: letter-spacing .6s ease;
            &:hover{
                letter-spacing: 2px;
                
            }
        }
    }
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
        transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-8px);
    }
}

@keyframes glow-red {
    50% {
      border-color: indianred;
    }
  }