.err-page{
    width: 100%;
    height: 100vh;

    .err-body{
        width: 100%;
        height: 100vh;
        padding-top: 100px;
        .lyw{
            margin: 0;
            text-align: center;
            font-family: montserrat;
            font-size: 50px;
            font-weight: 600;
            padding-top: 30px;
        }
        .img-container{
            width: 100%;
            position: relative;
            //background-color: lightgreen;
            height: 60vh;

            .errIMG{
                position: absolute;
            }

            .pYell{
                top: 67.3%;
                left: 16%;
                width: 7%;
                z-index: 1;
                animation: pBlue 3s ease-in-out infinite;
            }

            .pBlue{
                top: 14.3%;
                left: 6%;
                width: 12%;
                z-index: 1;
                animation: pBlue 3s ease-in-out infinite;
            }
            .planet{
                top: 14.3%;
                left: 36%;
                width: 28%;
                z-index: 1;
                animation: planet 8s ease-in-out infinite;
            }
            .bone{
                top: 19.3%;
                left: 46%;
                width: 8%;
                z-index: 2;
                animation: bone 4.3s ease-in-out infinite;
            }
            .otto{
                top: 13.3%;
                left: 24%;
                width: 26%;
                z-index: 2;
                animation: otto 4.8s ease-in-out infinite;
            }
            .sat{
                top: 81%;
                left: 76%;
                width: 5%;
                animation: sat 5s ease-in-out infinite;
            }
            .moon{
                left: 71%;
                top: 10%;
                width: 10%;
                animation: moon 4s ease-in-out infinite;
            }
        }
    }
}

@keyframes otto {
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}

@keyframes sat {
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}

@keyframes moon {
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}

@keyframes bone {
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}

@keyframes pBlue {
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}

@keyframes planet {
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}