*{
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .modal{
    .modal-dialog{
      .modal-content{
        .modal-header{
          .edit-board{
            .far {
              padding: 0 10px 0 0;
            }
          }
          .create-board{
            margin: 0 auto 0 auto;
          }
          .modal-title{
            .fas{
              padding: 0 10px 0 0;
            }

            
          }

          .edit-board-name{
            .far {
              padding: 0 10px 0 0;
            }
          }
        }

        .modal-body{
          .modal-profile-home-info{
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .form-btn-gr{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              align-content: stretch;
              margin: 10px 0;
   
              width: 40%;
              .fas{
                padding: 0;
              }
  
              .btn-close{
                border-radius: 50%;
                padding: 6px 14px;
                margin: 0 10px;
              }
  
              .btn-submit{
                border-radius: 50%;
                margin: 0 10px;
              }
            }
          }

          .form-edit-task{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .in-edit-t{
              width: 60%;
              margin-bottom: 10px;
              border: none;
              border-bottom: 2px solid #333;
              text-align: center;
              font-family: montserrat;
              font-size: 18px;
              &:focus{
                outline: none;
              }
            } 
            .edit-status-area{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin: 15px 0;
            }
            .form-btn-gr{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              align-content: stretch;
              margin: 10px 0;
   
              width: 40%;
              .fas{
                padding: 0;
              }

              .btn-close{
                border-radius: 50%;
                padding: 6px 14px;
                margin: 0 10px;
              }

              .btn-submit{
                border-radius: 50%;
                margin: 0 10px;
              }
            }
          }

          .form-edit-b{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .in-edit-b{
              width: 60%;
              margin-bottom: 10px;
              border: none;
              border-bottom: 2px solid #333;
              text-align: center;
              font-family: montserrat;
              font-size: 18px;
              &:focus{
                outline: none;
              }
            } 

            .form-btn-gr{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              align-content: stretch;
              margin: 10px 0;
   
              width: 40%;
              .fas{
                padding: 0;
              }

              .btn-close{
                border-radius: 50%;
                padding: 6px 14px;
                margin: 0 5px;
              }

              .btn-submit{
                border-radius: 50%;
                margin: 0 5px;
              }
            }
          }

          .form-group{
            .form-edit-des{
              display: flex;
              flex-direction: column;

              .btn-edit-des{
                margin-top: 10px;
              }
            }
          }
          .fas{
            padding: 0 10px 0 0;
          }

          .progress{
            margin-bottom: 10px;
          }

          .custom-control{
            margin-bottom: 10px;
          }

          .cover-name-input{
            //width: 70%;
            margin: 0 auto 0 auto;
            text-align: center;
            .nameboard-input{
              border: none;
              border-bottom: 2px solid #333;
              padding: 0 20px 5px 10px;
              font-family: montserrat;
              font-size: 16px;
              text-align: center;
              &:focus{
                outline: none;
              }
            }
          }

          .color-choose{
            width: 60%;
            margin: auto;
            display: flex;
            padding: 20px 0 10px 0;
            justify-content: space-between;
            .blue{
              background-color: skyblue;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: none;
              &:focus{
                box-shadow: 0 0 1px 2.5px #053f5e;
                outline: none;
              }
            }
            .green{
              background-color: #01d28e;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: none;
              &:focus{
                box-shadow: 0 0 1px 2.5px #053f5e;
                outline: none;
              }
            }
            .yellow{
              background-color: #faf562;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: none;
              &:focus{
                box-shadow: 0 0 1px 2.5px #053f5e;
                outline: none;
              }
            }
            .red{
              background-color: #c93838;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: none;
              &:focus{
                box-shadow: 0 0 1px 2.5px #053f5e;
                outline: none;
              }
              
            }
          }

        }
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
